.mt-header{
    background-color: #666;
    text-align: right;
    padding-right: 20px;
    font-weight: bolder;
    color: #f4f4f4;
}

small{
    font-size: 11px;
    padding-left: 10px;
    font-style: italic;
    color:#666;

}

.mt-card-title{
    font-size: 18px;
}